{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.blockspan.com/v1"
    }
  ],
  "info": {
    "title": "NFT TOKEN API",
    "version": "1.0.0",
    "description": "API that aggregates blockchain data for Token Activity"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "schemas": {
      "Total": {
        "type": "integer",
        "format": "int32",
        "example": 200
      },
      "TokenOwners": {
        "type": "integer",
        "format": "int32",
        "example": 1
      },
      "Chain": {
        "type": "string",
        "example": "eth-main"
      },
      "Exchange": {
        "type": "string",
        "example": "opensea"
      },
      "ExchangeRanking": {
        "type": "string",
        "example": "total_volume"
      },
      "OwnerAddress": {
        "type": "string",
        "example": "0x85e3351504c61a3491c6619bce130b6fe02f148d"
      },
      "ContractAddress": {
        "type": "string",
        "example": "0x1c3423c0ca4140bddbfe96092c9b9da3ec4af339"
      },
      "TotalSalesVolume": {
        "type": "string",
        "example": "17.9395658132981655"
      },
      "TotalSales": {
        "type": "integer",
        "example": 1
      },
      "MinimumPrice": {
        "type": "string",
        "example": "17.9395658132981655"
      },
      "MaximumPrice": {
        "type": "string",
        "example": "17.9395658132981655"
      },
      "AveragePrice": {
        "type": "string",
        "example": "17.9395658132981655"
      },
      "TokenId": {
        "type": "string",
        "example": "1000"
      },
      "Cursor": {
        "type": "string",
        "example": "KGpzb24pIjB4NDFmNTZiMDAwZmZmZTE3OTQzZmI0YzE4MmMxMjM3NjdhZjcxZDAwNSI"
      },
      "Page": {
        "type": "integer",
        "format": "int32",
        "example": 1
      },
      "PageSize": {
        "type": "integer",
        "format": "int32",
        "example": 25
      },
      "TotalSalesVolumeUsd": {
        "type": "string",
        "example": "19805.474020837077524754105595267885277"
      },
      "MinPriceUsd": {
        "type": "string",
        "example": "0.11959710542198777"
      },
      "MaxPriceUsd": {
        "type": "string",
        "example": "8969.78290664908275"
      },
      "AvgPriceUsd": {
        "type": "string",
        "example": "113.174137261926157284309174830102202"
      },
      "TotalSalesVolumeNative": {
        "type": "string",
        "example": "16.56016167862526484125"
      },
      "TotalUniqueTokens": {
        "type": "integer",
        "format": "int32",
        "example": 36593
      },
      "TotalUniqueCollections": {
        "type": "integer",
        "format": "int32",
        "example": 3345
      },
      "TotalTransfers": {
        "type": "integer",
        "format": "int32",
        "example": 43785
      },
      "TotalMintTransfers": {
        "type": "integer",
        "format": "int32",
        "example": 25495
      },
      "TotalBurnTransfers": {
        "type": "integer",
        "format": "int32",
        "example": 752
      },
      "TotalTransferTransfers": {
        "type": "integer",
        "format": "int32",
        "example": 17538
      },
      "TotalActiveWallets": {
        "type": "integer",
        "format": "int32",
        "example": 20820
      },
      "CachedImages": {
        "properties": {
          "tiny_100_100": {
            "type": "string",
            "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_100_100.jpg"
          },
          "small_250_250": {
            "type": "string",
            "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_250_250.jpg"
          },
          "medium_500_500": {
            "type": "string",
            "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_500_500.jpg"
          },
          "large_1000_1000": {
            "type": "string",
            "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_1000_1000.jpg"
          },
          "original": {
            "type": "string",
            "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127.jpg"
          },
          "content_type": {
            "type": "string",
            "example": "image/jpg"
          }
        }
      },
      "OwnerDistribution": {
        "properties": {
          "one_item": {
            "type": "integer",
            "example": 60
          },
          "two_to_three_items": {
            "type": "integer",
            "example": 50
          },
          "four_to_ten_items": {
            "type": "integer",
            "example": 40
          },
          "eleven_to_twenty_five_items": {
            "type": "integer",
            "example": 30
          },
          "twenty_six_plus_items": {
            "type": "integer",
            "example": 20
          }
        }
      },
      "Price": {
        "properties": {
          "contract_address": {
            "type": "string",
            "example": "0x1b780fc912e96e7d9557080530786b927fe8706f"
          },
          "id": {
            "type": "string",
            "example": "1"
          },
          "hash": {
            "type": "string",
            "example": "0x6fe40e0a78cafa2b93be8ea47b36cb97c23efb5019b34acdd22857421382675e"
          },
          "hash_nft_count": {
            "type": "string",
            "example": "1"
          },
          "from_address": {
            "type": "string",
            "example": "0x4b461c5496dd7cc23343a0d69a83d40418d15a6e"
          },
          "to_address": {
            "type": "string",
            "example": "0x56d451c0a75b545fa69c0cf2d5d086bbdf56ab28"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "example": "2022-09-13T17:07:57.000Z"
          },
          "quantity": {
            "type": "string",
            "example": "2"
          },
          "price": {
            "type": "string",
            "example": "0.02"
          },
          "price_currency": {
            "type": "string",
            "example": "ETH"
          },
          "price_usd": {
            "type": "string",
            "example": "34.04356220757607"
          },
          "price_native": {
            "type": "string",
            "example": "0.02"
          },
          "currency": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string",
                  "example": "ETH"
                },
                "name": {
                  "type": "string",
                  "example": "ETH (NATIVE)"
                },
                "decimals": {
                  "type": "integer",
                  "format": "int32",
                  "example": 18
                },
                "contract_address": {
                  "type": "string",
                  "example": null
                },
                "from_address": {
                  "type": "string",
                  "example": null
                },
                "to_address": {
                  "type": "string",
                  "example": null
                },
                "price": {
                  "type": "string",
                  "example": "20000000000000000"
                }
              }
            }
          },
          "er20_transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string",
                  "example": "ETH"
                },
                "name": {
                  "type": "string",
                  "example": "Wrapped ETH"
                },
                "decimals": {
                  "type": "integer",
                  "format": "int32",
                  "example": 18
                },
                "contract_address": {
                  "type": "string",
                  "example": null
                },
                "from_address": {
                  "type": "string",
                  "example": null
                },
                "to_address": {
                  "type": "string",
                  "example": null
                },
                "price": {
                  "type": "string",
                  "example": "1000000000000000"
                }
              }
            }
          }
        }
      },
      "ExchangeRankingData": {
        "properties": {
          "key": {
            "type": "string",
            "example": "boredapeyachtclub"
          },
          "name": {
            "type": "string",
            "example": "Bored Ape Yacht Club"
          },
          "description": {
            "type": "string",
            "example": "The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs..."
          },
          "update_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-05T18:50:00.582Z"
          },
          "total_volume": {
            "type": "string",
            "example": "670210.9884434949"
          },
          "one_day_volume": {
            "type": "string",
            "example": "173.2"
          },
          "seven_day_volume": {
            "type": "string",
            "example": "1771.18"
          },
          "thirty_day_volume": {
            "type": "string",
            "example": "10528.511809999996"
          },
          "one_day_volume_change": {
            "type": "string",
            "example": "13.2"
          },
          "seven_day_volume_change": {
            "type": "string",
            "example": "171.18"
          },
          "thirty_day_volume_change": {
            "type": "string",
            "example": "1528.51"
          },
          "total_sales": {
            "type": "string",
            "example": "27150"
          },
          "one_day_sales": {
            "type": "string",
            "example": "2"
          },
          "seven_day_sales": {
            "type": "string",
            "example": "13"
          },
          "thirty_day_sales": {
            "type": "string",
            "example": "115"
          },
          "total_average_price": {
            "type": "string",
            "example": "24.685487603811968"
          },
          "one_day_average_price": {
            "type": "string",
            "example": "86.6"
          },
          "seven_day_average_price": {
            "type": "string",
            "example": "136.2446153846154"
          },
          "thirty_day_average_price": {
            "type": "string",
            "example": "91.55227660869562"
          },
          "exchange_url": {
            "type": "string",
            "example": "https://opensea.io/collection/boredapeyachtclub"
          },
          "external_url": {
            "type": "string",
            "example": "http://www.boredapeyachtclub.com/"
          },
          "banner_image_url": {
            "type": "string",
            "example": "https://i.seadn.io/gae/i5dYZRkVCUK97bfprQ3WXyrT9BnLSZtVKGJlKQ919uaUB0sxbngVCioaiyu9r6snqfi2aaTyIvv6DHm4m2R3y7hMajbsv14pSZK8mhs?w=500&auto=format"
          },
          "featured_image_url": {
            "type": "string",
            "example": "https://i.seadn.io/gae/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA?w=500&auto=format"
          },
          "large_image_url": {
            "type": "string",
            "example": "https://i.seadn.io/gae/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA?w=500&auto=format"
          },
          "image_url": {
            "type": "string",
            "example": "https://i.seadn.io/gae/Ju9CkWtV-1Okvf45wo8UctR-M9He2PjILP0oOvxE89AyiPPGtrR3gysu1Zgy0hjd2xKIgjJJtWIc0ybj4Vd7wv8t3pxDGHoJBzDB?w=500&auto=format"
          },
          "chat_url": {
            "type": "string",
            "example": null
          },
          "discord_url": {
            "type": "string",
            "example": "https://discord.gg/3P5K3dzgdB"
          },
          "telegram_url": {
            "type": "string",
            "example": null
          },
          "twitter_username": {
            "type": "string",
            "example": "BoredApeYC"
          },
          "wiki_url": {
            "type": "string",
            "example": null
          },
          "instagram_username": {
            "type": "string",
            "example": null
          },
          "contracts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "contract_address": {
                  "type": "string",
                  "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
                }
              }
            }
          }
        }
      },
      "RarityData": {
        "type": "object",
        "properties": {
          "trait": {
            "type": "string",
            "example": "Background"
          },
          "rarity_counts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "example": "White"
                },
                "count": {
                  "type": "number",
                  "example": 7
                }
              }
            }
          }
        }
      },
      "ExchangeData": {
        "properties": {
          "exchange": {
            "type": "string",
            "example": "opensea"
          },
          "update_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-10-05T20:31:26.621Z"
          },
          "key": {
            "type": "string",
            "example": "boredapeyachtclub"
          },
          "name": {
            "type": "string",
            "example": "Bored Ape Yacht Club"
          },
          "description": {
            "type": "string",
            "example": "The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique digital collectibles ..."
          },
          "exchange_url": {
            "type": "string",
            "example": "https://opensea.io/collection/boredapeyachtclub"
          },
          "external_url": {
            "type": "string",
            "example": "http://www.boredapeyachtclub.com/"
          },
          "banner_image_url": {
            "type": "string",
            "example": "https://i.seadn.io/gae/i5dYZRkVCUK97bfprQ3WXyrT9BnLSZtVKGJlKQ919uaUB0sxbngVCioaiyu9r6snqfi2aaTyIvv6DHm4m2R3y7hMajbsv14pSZK8mhs?w=500&auto=format"
          },
          "featured_image_url": {
            "type": "string",
            "example": "https://i.seadn.io/gae/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA?w=500&auto=format"
          },
          "large_image_url": {
            "type": "string",
            "example": "https://i.seadn.io/gae/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA?w=500&auto=format"
          },
          "image_url": {
            "type": "string",
            "example": "https://i.seadn.io/gae/Ju9CkWtV-1Okvf45wo8UctR-M9He2PjILP0oOvxE89AyiPPGtrR3gysu1Zgy0hjd2xKIgjJJtWIc0ybj4Vd7wv8t3pxDGHoJBzDB?w=500&auto=format"
          },
          "chat_url": {
            "type": "string",
            "example": null
          },
          "discord_url": {
            "type": "string",
            "example": "https://discord.gg/3P5K3dzgdB"
          },
          "telegram_url": {
            "type": "string",
            "example": null
          },
          "twitter_username": {
            "type": "string",
            "example": "BoredApeYC"
          },
          "wiki_url": {
            "type": "string",
            "example": null
          },
          "instagram_username": {
            "type": "string",
            "example": null
          },
          "stats": {
            "type": "object",
            "properties": {
              "market_cap": {
                "type": "number",
                "example": 1362173.6646153848
              },
              "num_owners": {
                "type": "number",
                "example": 6427
              },
              "floor_price": {
                "type": "number",
                "example": 0
              },
              "floor_price_symbol": {
                "type": "string",
                "example": "ETH"
              },
              "total_minted": {
                "type": "number",
                "example": 9998
              },
              "total_supply": {
                "type": "number",
                "example": 9998
              },
              "total_volume": {
                "type": "number",
                "example": 670210.9884434949
              },
              "one_day_volume": {
                "type": "number",
                "example": 173.2
              },
              "seven_day_volume": {
                "type": "number",
                "example": 1771.18
              },
              "thirty_day_volume": {
                "type": "number",
                "example": 10528.511809999996
              },
              "one_day_volume_change": {
                "type": "number",
                "example": -196.76640100000003
              },
              "seven_day_volume_change": {
                "type": "number",
                "example": 368.9941680000006
              },
              "thirty_day_volume_change": {
                "type": "number",
                "example": 211.18794129058824
              },
              "total_sales": {
                "type": "number",
                "example": 27150
              },
              "one_day_sales": {
                "type": "number",
                "example": 2
              },
              "seven_day_sales": {
                "type": "number",
                "example": 13
              },
              "thirty_day_sales": {
                "type": "number",
                "example": 115
              },
              "total_average_price": {
                "type": "number",
                "example": 24.685487603811968
              },
              "one_day_average_price": {
                "type": "number",
                "example": 86.6
              },
              "seven_day_average_price": {
                "type": "number",
                "example": 136.2446153846154
              },
              "thirty_day_average_price": {
                "type": "number",
                "example": 91.55227660869562
              }
            }
          },
          "contracts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "contract_address": {
                  "type": "string",
                  "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
                }
              }
            }
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
          },
          "name": {
            "type": "string",
            "example": "Bored Ape Yacht Club"
          },
          "symbol": {
            "type": "string",
            "example": "BAYC"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-04-25T19:22:03.000Z"
          },
          "total_tokens": {
            "type": "string",
            "example": "10000"
          },
          "total_transfers": {
            "type": "string",
            "example": "3457"
          },
          "functions": {
            "type": "string",
            "example": "[mintTo(address), safeTransferFrom(address,address,uint256,bytes)..."
          }
        }
      },
      "CollectionExchangeRarity": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
          },
          "name": {
            "type": "string",
            "example": "Bored Ape Yacht Club"
          },
          "symbol": {
            "type": "string",
            "example": "BAYC"
          },
          "is_potential_spam": {
            "type": "boolean",
            "example": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-04-25T19:22:03.000Z"
          },
          "total_tokens": {
            "type": "string",
            "example": "10000"
          },
          "total_transfers": {
            "type": "string",
            "example": "3457"
          },
          "exchange_data": {
            "type": "array",
            "items": {
              "properties": {
                "exchange": {
                  "type": "string",
                  "example": "opensea"
                },
                "update_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2022-10-05T20:31:26.621Z"
                },
                "key": {
                  "type": "string",
                  "example": "boredapeyachtclub"
                },
                "name": {
                  "type": "string",
                  "example": "Bored Ape Yacht Club"
                },
                "description": {
                  "type": "string",
                  "example": "The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique digital collectibles ..."
                },
                "exchange_url": {
                  "type": "string",
                  "example": "https://opensea.io/collection/boredapeyachtclub"
                },
                "external_url": {
                  "type": "string",
                  "example": "http://www.boredapeyachtclub.com/"
                },
                "banner_image_url": {
                  "type": "string",
                  "example": "https://i.seadn.io/gae/i5dYZRkVCUK97bfprQ3WXyrT9BnLSZtVKGJlKQ919uaUB0sxbngVCioaiyu9r6snqfi2aaTyIvv6DHm4m2R3y7hMajbsv14pSZK8mhs?w=500&auto=format"
                },
                "featured_image_url": {
                  "type": "string",
                  "example": "https://i.seadn.io/gae/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA?w=500&auto=format"
                },
                "large_image_url": {
                  "type": "string",
                  "example": "https://i.seadn.io/gae/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA?w=500&auto=format"
                },
                "image_url": {
                  "type": "string",
                  "example": "https://i.seadn.io/gae/Ju9CkWtV-1Okvf45wo8UctR-M9He2PjILP0oOvxE89AyiPPGtrR3gysu1Zgy0hjd2xKIgjJJtWIc0ybj4Vd7wv8t3pxDGHoJBzDB?w=500&auto=format"
                },
                "chat_url": {
                  "type": "string",
                  "example": null
                },
                "discord_url": {
                  "type": "string",
                  "example": "https://discord.gg/3P5K3dzgdB"
                },
                "telegram_url": {
                  "type": "string",
                  "example": null
                },
                "twitter_username": {
                  "type": "string",
                  "example": "BoredApeYC"
                },
                "wiki_url": {
                  "type": "string",
                  "example": null
                },
                "instagram_username": {
                  "type": "string",
                  "example": null
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "market_cap": {
                      "type": "number",
                      "example": 1362173.6646153848
                    },
                    "num_owners": {
                      "type": "number",
                      "example": 6427
                    },
                    "floor_price": {
                      "type": "number",
                      "example": 0
                    },
                    "floor_price_symbol": {
                      "type": "string",
                      "example": "ETH"
                    },
                    "total_minted": {
                      "type": "number",
                      "example": 9998
                    },
                    "total_supply": {
                      "type": "number",
                      "example": 9998
                    },
                    "total_volume": {
                      "type": "number",
                      "example": 670210.9884434949
                    },
                    "one_day_volume": {
                      "type": "number",
                      "example": 173.2
                    },
                    "seven_day_volume": {
                      "type": "number",
                      "example": 1771.18
                    },
                    "thirty_day_volume": {
                      "type": "number",
                      "example": 10528.511809999996
                    },
                    "one_day_volume_change": {
                      "type": "number",
                      "example": -196.76640100000003
                    },
                    "seven_day_volume_change": {
                      "type": "number",
                      "example": 368.9941680000006
                    },
                    "thirty_day_volume_change": {
                      "type": "number",
                      "example": 211.18794129058824
                    },
                    "total_sales": {
                      "type": "number",
                      "example": 27150
                    },
                    "one_day_sales": {
                      "type": "number",
                      "example": 2
                    },
                    "seven_day_sales": {
                      "type": "number",
                      "example": 13
                    },
                    "thirty_day_sales": {
                      "type": "number",
                      "example": 115
                    },
                    "total_average_price": {
                      "type": "number",
                      "example": 24.685487603811968
                    },
                    "one_day_average_price": {
                      "type": "number",
                      "example": 86.6
                    },
                    "seven_day_average_price": {
                      "type": "number",
                      "example": 136.2446153846154
                    },
                    "thirty_day_average_price": {
                      "type": "number",
                      "example": 91.55227660869562
                    }
                  }
                },
                "contracts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contract_address": {
                        "type": "string",
                        "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
                      }
                    }
                  }
                }
              }
            }
          },
          "trait_rarity_counts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "trait": {
                  "type": "string",
                  "example": "Background"
                },
                "rarity_counts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "example": "White"
                      },
                      "count": {
                        "type": "number",
                        "example": 7
                      }
                    }
                  }
                }
              }
            }
          },
          "functions": {
            "type": "string",
            "example": "[mintTo(address), safeTransferFrom(address,address,uint256,bytes)..."
          }
        }
      },
      "OwnerCollection": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0x2f329de74f67e2c1c5d2a6487ae50c99873d8589"
          },
          "total_tokens": {
            "type": "integer",
            "example": 4
          },
          "total_quantity": {
            "type": "string",
            "example": "4"
          }
        }
      },
      "PriceHistory": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2023-01-02T00:00:00Z"
          },
          "total_transfers": {
            "type": "integer",
            "example": 2
          },
          "available_prices": {
            "type": "integer",
            "example": 1
          },
          "min_price_usd": {
            "type": "string",
            "example": "17.939565813298167"
          },
          "max_price_usd": {
            "type": "string",
            "example": "17.939565813298167"
          },
          "avg_price_usd": {
            "type": "string",
            "example": "17.939565813298167"
          },
          "min_price_native": {
            "type": "string",
            "example": "0.015"
          },
          "max_price_native": {
            "type": "string",
            "example": "0.015"
          },
          "avg_price_native": {
            "type": "string",
            "example": "0.015"
          },
          "median_price_usd": {
            "type": "string",
            "example": "17.939565813298167"
          },
          "median_price_native": {
            "type": "string",
            "example": "0.015"
          }
        }
      },
      "CollectionPriceSummary": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "example": "eth-main"
          },
          "contract_address": {
            "type": "string",
            "example": "0x2f329de74f67e2c1c5d2a6487ae50c99873d8589"
          },
          "price_summary": {
            "type": "object",
            "properties": {
              "one_day": {
                "type": "object",
                "properties": {
                  "total_transfers": {
                    "type": "integer",
                    "example": 0
                  },
                  "available_prices": {
                    "type": "integer",
                    "example": 0
                  },
                  "min_price_usd": {
                    "type": "string",
                    "example": null
                  },
                  "max_price_usd": {
                    "type": "string",
                    "example": null
                  },
                  "avg_price_usd": {
                    "type": "string",
                    "example": null
                  },
                  "min_price_native": {
                    "type": "string",
                    "example": null
                  },
                  "max_price_native": {
                    "type": "string",
                    "example": null
                  },
                  "avg_price_native": {
                    "type": "string",
                    "example": null
                  },
                  "median_price_usd": {
                    "type": "string",
                    "example": null
                  },
                  "median_price_native": {
                    "type": "string",
                    "example": null
                  }
                }
              },
              "seven_day": {
                "type": "object",
                "properties": {
                  "total_transfers": {
                    "type": "integer",
                    "example": 10
                  },
                  "available_prices": {
                    "type": "integer",
                    "example": 7
                  },
                  "min_price_usd": {
                    "type": "string",
                    "example": 114.2376301524721
                  },
                  "max_price_usd": {
                    "type": "string",
                    "example": 269.3594243933129
                  },
                  "avg_price_usd": {
                    "type": "string",
                    "example": 162.20709615576348
                  },
                  "min_price_native": {
                    "type": "string",
                    "example": 0.079886455
                  },
                  "max_price_native": {
                    "type": "string",
                    "example": 0.188363234
                  },
                  "avg_price_native": {
                    "type": "string",
                    "example": 0.113431536
                  },
                  "median_price_usd": {
                    "type": "string",
                    "example": 202.30486754321834
                  },
                  "median_price_native": {
                    "type": "string",
                    "example": 0.141471935
                  }
                }
              },
              "thirty_day": {
                "type": "object",
                "properties": {
                  "total_transfers": {
                    "type": "integer",
                    "example": 25
                  },
                  "available_prices": {
                    "type": "integer",
                    "example": 0
                  },
                  "min_price_usd": {
                    "type": "string",
                    "example": 114.2376301524721
                  },
                  "max_price_usd": {
                    "type": "string",
                    "example": 269.3594243933129
                  },
                  "avg_price_usd": {
                    "type": "string",
                    "example": 162.20709615576348
                  },
                  "min_price_native": {
                    "type": "string",
                    "example": 0.079886455
                  },
                  "max_price_native": {
                    "type": "string",
                    "example": 0.188363234
                  },
                  "avg_price_native": {
                    "type": "string",
                    "example": 0.113431536
                  },
                  "median_price_usd": {
                    "type": "string",
                    "example": 202.30486754321834
                  },
                  "median_price_native": {
                    "type": "string",
                    "example": 0.141471935
                  }
                }
              }
            }
          }
        }
      },
      "Token": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0x2f329de74f67e2c1c5d2a6487ae50c99873d8589"
          },
          "id": {
            "type": "string",
            "example": "5336"
          },
          "token_name": {
            "type": "string",
            "example": "Bored Ape #1000"
          },
          "token_description": {
            "type": "string",
            "example": "The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs"
          },
          "uri": {
            "type": "string",
            "example": "ipfs://QmPF8ENi9oJAMDVe9TnseemayfH6ivNeycLDzJrbk5anXD/5336"
          },
          "metadata": {
            "type": "object",
            "example": {
              "name": "Bored Ape #1000",
              "image": "ipfs://<key>",
              "attributes": []
            }
          },
          "metadata_updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2023-01-25T19:22:03.000Z"
          },
          "rarity_rank": {
            "type": "integer",
            "format": "int256",
            "example": 17
          },
          "rarity_score": {
            "type": "number",
            "format": "float",
            "example": 1.1561093
          },
          "total_transfers": {
            "type": "integer",
            "format": "int256",
            "example": 27
          },
          "minted_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-04-25T19:22:03.000Z"
          },
          "total_current_owners": {
            "type": "integer",
            "format": "int256",
            "example": 1
          },
          "current_owners": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "example": "0x41f56b000fffe17943fb4c182c123767af71d005"
                },
                "quantity": {
                  "type": "string",
                  "example": "1"
                }
              }
            }
          },
          "recent_price": {
            "type": "object",
            "properties": {
              "contract_address": {
                "type": "string",
                "example": "0x1b780fc912e96e7d9557080530786b927fe8706f"
              },
              "id": {
                "type": "string",
                "example": "1"
              },
              "hash": {
                "type": "string",
                "example": "0x6fe40e0a78cafa2b93be8ea47b36cb97c23efb5019b34acdd22857421382675e"
              },
              "hash_nft_count": {
                "type": "string",
                "example": "1"
              },
              "from_address": {
                "type": "string",
                "example": "0x4b461c5496dd7cc23343a0d69a83d40418d15a6e"
              },
              "to_address": {
                "type": "string",
                "example": "0x56d451c0a75b545fa69c0cf2d5d086bbdf56ab28"
              },
              "date": {
                "type": "string",
                "format": "date-time",
                "example": "2022-09-13T17:07:57.000Z"
              },
              "quantity": {
                "type": "string",
                "example": "2"
              },
              "price": {
                "type": "string",
                "example": "0.02"
              },
              "price_currency": {
                "type": "string",
                "example": "ETH"
              },
              "price_usd": {
                "type": "string",
                "example": "34.04356220757607"
              },
              "price_native": {
                "type": "string",
                "example": "0.02"
              },
              "currency": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string",
                      "example": "ETH"
                    },
                    "name": {
                      "type": "string",
                      "example": "ETH (NATIVE)"
                    },
                    "decimals": {
                      "type": "integer",
                      "format": "int32",
                      "example": 18
                    },
                    "contract_address": {
                      "type": "string",
                      "example": null
                    },
                    "from_address": {
                      "type": "string",
                      "example": null
                    },
                    "to_address": {
                      "type": "string",
                      "example": null
                    },
                    "price": {
                      "type": "string",
                      "example": "20000000000000000"
                    }
                  }
                }
              },
              "er20_transfers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "symbol": {
                      "type": "string",
                      "example": "ETH"
                    },
                    "name": {
                      "type": "string",
                      "example": "Wrapped ETH"
                    },
                    "decimals": {
                      "type": "integer",
                      "format": "int32",
                      "example": 18
                    },
                    "contract_address": {
                      "type": "string",
                      "example": null
                    },
                    "from_address": {
                      "type": "string",
                      "example": null
                    },
                    "to_address": {
                      "type": "string",
                      "example": null
                    },
                    "price": {
                      "type": "string",
                      "example": "1000000000000000"
                    }
                  }
                }
              }
            }
          },
          "cached_videos": {
            "type": "object",
            "properties": {
              "original": {
                "type": "string",
                "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127.mp4"
              },
              "content_type": {
                "type": "string",
                "example": "video/mp4"
              }
            }
          },
          "cached_images": {
            "type": "object",
            "properties": {
              "tiny_100_100": {
                "type": "string",
                "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_100_100.jpg"
              },
              "small_250_250": {
                "type": "string",
                "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_250_250.jpg"
              },
              "medium_500_500": {
                "type": "string",
                "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_500_500.jpg"
              },
              "large_1000_1000": {
                "type": "string",
                "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_1000_1000.jpg"
              },
              "original": {
                "type": "string",
                "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127.jpg"
              },
              "content_type": {
                "type": "string",
                "example": "image/jpg"
              }
            }
          },
          "cached_other_assets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "original": {
                  "type": "string",
                  "example": "https://cdn.blockspan.com/....690729fbfa7ae.mov"
                },
                "content_type": {
                  "type": "string",
                  "example": "video/quicktime"
                }
              }
            }
          }
        }
      },
      "TopNFTs": {
        "type": "object",
        "properties": {
          "price_usd": {
            "type": "string",
            "example": "32.88920399104663675"
          },
          "price_currency": {
            "type": "string",
            "example": "ETH"
          },
          "price_native": {
            "type": "string",
            "example": "0.0275"
          },
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0x0c9aec85c7ef2b5407c53b02b09629e838744268"
          },
          "id": {
            "type": "string",
            "example": "9009"
          },
          "from_address": {
            "type": "string",
            "example": "0x1083f7d1b0c5b981d85a94038025237ceaefd8fb"
          },
          "to_address": {
            "type": "string",
            "example": "0xc8e3701576d749a5208e85ae0d2e18198f4e9184"
          },
          "transfer_type": {
            "type": "string",
            "example": "transfer"
          },
          "block_timestamp": {
            "type": "string",
            "example": "2023-01-03T09:17:59.000Z"
          },
          "transaction_hash": {
            "type": "string",
            "example": "0xc7f064c562041efee63a9bb38bc165f636e96b8e2d739d20f0b1fa5e65a2dd30"
          },
          "quantity": {
            "type": "string",
            "example": "1"
          },
          "nft_details": {
            "type": "object",
            "properties": {
              "token_type": {
                "type": "string",
                "example": "erc721"
              },
              "contract_address": {
                "type": "string",
                "example": "0x2f329de74f67e2c1c5d2a6487ae50c99873d8589"
              },
              "id": {
                "type": "string",
                "example": "5336"
              },
              "token_name": {
                "type": "string",
                "example": "Bored Ape #1000"
              },
              "token_description": {
                "type": "string",
                "example": "The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs"
              },
              "uri": {
                "type": "string",
                "example": "ipfs://QmPF8ENi9oJAMDVe9TnseemayfH6ivNeycLDzJrbk5anXD/5336"
              },
              "metadata": {
                "type": "object",
                "example": {
                  "name": "Bored Ape #1000",
                  "image": "ipfs://<key>",
                  "attributes": []
                }
              },
              "metadata_updated_at": {
                "type": "string",
                "example": "2023-01-25T19:22:03.000Z"
              },
              "rarity_rank": {
                "type": "integer",
                "example": 17
              },
              "rarity_score": {
                "type": "number",
                "format": "float",
                "example": 1.1561093
              },
              "total_transfers": {
                "type": "integer",
                "example": 27
              },
              "cached_videos": {
                "type": "object",
                "properties": {
                  "original": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127.mp4"
                  }
                }
              },
              "cached_images": {
                "type": "object",
                "properties": {
                  "tiny_100_100": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_100_100.jpg"
                  },
                  "small_250_250": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_250_250.jpg"
                  },
                  "medium_500_500": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_500_500.jpg"
                  },
                  "large_1000_1000": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127_1000_1000.jpg"
                  },
                  "original": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/....bb6df098cd8bc6127.jpg"
                  },
                  "content_type": {
                    "type": "string",
                    "example": "image/jpg"
                  }
                }
              },
              "cached_other_assets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "string",
                      "example": "https://cdn.blockspan.com/....690729fbfa7ae.mov"
                    },
                    "content_type": {
                      "type": "string",
                      "example": "video/quicktime"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "nftHistory": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "example": "2023-01-03T00:00:00Z"
          },
          "total_sales": {
            "type": "integer",
            "example": 155
          },
          "sales_volume_usd": {
            "type": "string",
            "example": "7247.130920256279104131505595267885277"
          },
          "sales_volume_native": {
            "type": "string",
            "example": "6.05962066948478474501"
          },
          "total_unique_tokens": {
            "type": "integer",
            "example": 9778
          },
          "total_transfers": {
            "type": "integer",
            "example": 10762
          },
          "mint_transfers": {
            "type": "integer",
            "example": 6792
          },
          "burn_transfers": {
            "type": "integer",
            "example": 120
          },
          "transfer_transfers": {
            "type": "integer",
            "example": 3850
          }
        }
      },
      "OwnerToken": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0x2f329de74f67e2c1c5d2a6487ae50c99873d8589"
          },
          "id": {
            "type": "string",
            "example": "5336"
          },
          "owner_address": {
            "type": "string",
            "example": "0x85e3351504c61a3491c6619bce130b6fe02f148d"
          },
          "times_acquired": {
            "type": "integer",
            "format": "int256",
            "example": 4
          },
          "minted_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-03-25T19:22:03.000Z"
          },
          "first_owned": {
            "type": "string",
            "format": "date-time",
            "example": "2022-04-25T19:22:03.000Z"
          },
          "last_owned": {
            "type": "string",
            "format": "date-time",
            "example": "2022-05-20T12:12:03.000Z"
          },
          "quantity": {
            "type": "string",
            "example": "1"
          },
          "nft_details": {
            "type": "object",
            "properties": {
              "token_type": {
                "type": "string",
                "example": "erc721"
              },
              "contract_address": {
                "type": "string",
                "example": "0x0827b6c6e9c53f2de4327ad172fceec9987b5c5e"
              },
              "id": {
                "type": "string",
                "example": "594"
              },
              "token_name": {
                "type": "string",
                "example": "Demon Time #594"
              },
              "token_description": {
                "type": "string",
                "example": "cc0. Free mint. No Map. On Demon Time. "
              },
              "uri": {
                "type": "string",
                "example": "ipfs://QmaS2Xqvqu3gcUMRjguvibVMhEX6wByAPeQcct4vcjEYaK/594.json"
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "example": "ipfs://QmXWDXUXQpaBhD2wsG64YTSYgfEukBgoLE8LHoqU7kGX8V/594.webp"
                  },
                  "attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "example": "purple"
                        },
                        "trait_type": {
                          "type": "string",
                          "example": "Background"
                        }
                      }
                    }
                  }
                }
              },
              "metadata_updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2023-04-30T18:29:27.658Z"
              },
              "rarity_rank": {
                "type": "integer",
                "format": "int256",
                "example": 17
              },
              "rarity_score": {
                "type": "number",
                "format": "float",
                "example": 1.1561093
              },
              "total_transfers": {
                "type": "integer",
                "example": 2
              },
              "recent_price": {
                "type": "object",
                "properties": {
                  "contract_address": {
                    "type": "string",
                    "example": "0x1b780fc912e96e7d9557080530786b927fe8706f"
                  },
                  "id": {
                    "type": "string",
                    "example": "1"
                  },
                  "hash": {
                    "type": "string",
                    "example": "0x6fe40e0a78cafa2b93be8ea47b36cb97c23efb5019b34acdd22857421382675e"
                  },
                  "hash_nft_count": {
                    "type": "string",
                    "example": "1"
                  },
                  "from_address": {
                    "type": "string",
                    "example": "0x4b461c5496dd7cc23343a0d69a83d40418d15a6e"
                  },
                  "to_address": {
                    "type": "string",
                    "example": "0x56d451c0a75b545fa69c0cf2d5d086bbdf56ab28"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-09-13T17:07:57.000Z"
                  },
                  "quantity": {
                    "type": "string",
                    "example": "2"
                  },
                  "price": {
                    "type": "string",
                    "example": "0.02"
                  },
                  "price_currency": {
                    "type": "string",
                    "example": "ETH"
                  },
                  "price_usd": {
                    "type": "string",
                    "example": "34.04356220757607"
                  },
                  "price_native": {
                    "type": "string",
                    "example": "0.02"
                  },
                  "currency": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "example": "ETH"
                        },
                        "name": {
                          "type": "string",
                          "example": "ETH (NATIVE)"
                        },
                        "decimals": {
                          "type": "integer",
                          "format": "int32",
                          "example": 18
                        },
                        "contract_address": {
                          "type": "string",
                          "example": null
                        },
                        "from_address": {
                          "type": "string",
                          "example": null
                        },
                        "to_address": {
                          "type": "string",
                          "example": null
                        },
                        "price": {
                          "type": "string",
                          "example": "20000000000000000"
                        }
                      }
                    }
                  },
                  "er20_transfers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "example": "ETH"
                        },
                        "name": {
                          "type": "string",
                          "example": "Wrapped ETH"
                        },
                        "decimals": {
                          "type": "integer",
                          "format": "int32",
                          "example": 18
                        },
                        "contract_address": {
                          "type": "string",
                          "example": null
                        },
                        "from_address": {
                          "type": "string",
                          "example": null
                        },
                        "to_address": {
                          "type": "string",
                          "example": null
                        },
                        "price": {
                          "type": "string",
                          "example": "1000000000000000"
                        }
                      }
                    }
                  }
                }
              },
              "cached_videos": {
                "type": "object",
                "properties": {
                  "original": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/53616....858b88e59591f.mp4"
                  },
                  "content_type": {
                    "type": "string",
                    "example": "video/mp4"
                  }
                }
              },
              "cached_images": {
                "type": "object",
                "properties": {
                  "tiny_100_100": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/53616....0d623_100_100.webp"
                  },
                  "small_250_250": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/53616....0d623_250_250.webp"
                  },
                  "medium_500_500": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/53616....0d623_500_500.webp"
                  },
                  "large_1000_1000": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/53616....0d623_1000_1000.webp"
                  },
                  "original": {
                    "type": "string",
                    "example": "https://cdn.blockspan.com/53616....0d623.webp"
                  },
                  "content_type": {
                    "type": "string",
                    "example": "image/webp"
                  }
                }
              },
              "cached_other_assets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "string",
                      "example": "https://cdn.blockspan.com/53616....690729fbfa7ae.mov"
                    },
                    "content_type": {
                      "type": "string",
                      "example": "video/quicktime"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TokenSearch": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0x2f329de74f67e2c1c5d2a6487ae50c99873d8589"
          },
          "example_token_id": {
            "type": "string",
            "example": "5336"
          },
          "example_token_name": {
            "type": "string",
            "example": "Bored Ape #1000"
          },
          "example_token_description": {
            "type": "string",
            "example": "The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0x2f329de74f67e2c1c5d2a6487ae50c99873d8589"
          },
          "id": {
            "type": "string",
            "example": 5336
          },
          "operator": {
            "type": "string",
            "example": "0x20904982fa86601c46e7e489dbcea1ffe6f46287"
          },
          "from_address": {
            "type": "string",
            "example": "0x20904982fa86601c46e7e489dbcea1ffe6f46287"
          },
          "to_address": {
            "type": "string",
            "example": "0x0000000000000000000000000000000000000000"
          },
          "transfer_type": {
            "type": "string",
            "example": "burn"
          },
          "block_timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2022-04-25T19:22:03.000Z"
          },
          "block_number": {
            "type": "string",
            "example": "14057345"
          },
          "log_index": {
            "type": "integer",
            "example": 22
          },
          "transaction_hash": {
            "type": "string",
            "example": "0x042b460b41c08777ef9f3f79adb50465ae15d0119ae34623f9f201fa18dfef1a"
          },
          "batch_index": {
            "type": "integer",
            "format": "uint256",
            "example": 5336
          },
          "quantity": {
            "type": "string",
            "example": "1"
          },
          "price": {
            "type": "array",
            "items": {
              "properties": {
                "contract_address": {
                  "type": "string",
                  "example": "0x1b780fc912e96e7d9557080530786b927fe8706f"
                },
                "id": {
                  "type": "string",
                  "example": "1"
                },
                "hash": {
                  "type": "string",
                  "example": "0x6fe40e0a78cafa2b93be8ea47b36cb97c23efb5019b34acdd22857421382675e"
                },
                "hash_nft_count": {
                  "type": "string",
                  "example": "1"
                },
                "from_address": {
                  "type": "string",
                  "example": "0x4b461c5496dd7cc23343a0d69a83d40418d15a6e"
                },
                "to_address": {
                  "type": "string",
                  "example": "0x56d451c0a75b545fa69c0cf2d5d086bbdf56ab28"
                },
                "date": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2022-09-13T17:07:57.000Z"
                },
                "quantity": {
                  "type": "string",
                  "example": "2"
                },
                "price": {
                  "type": "string",
                  "example": "0.02"
                },
                "price_currency": {
                  "type": "string",
                  "example": "ETH"
                },
                "price_usd": {
                  "type": "string",
                  "example": "34.04356220757607"
                },
                "price_native": {
                  "type": "string",
                  "example": "0.02"
                },
                "currency": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "example": "ETH"
                      },
                      "name": {
                        "type": "string",
                        "example": "ETH (NATIVE)"
                      },
                      "decimals": {
                        "type": "integer",
                        "format": "int32",
                        "example": 18
                      },
                      "contract_address": {
                        "type": "string",
                        "example": null
                      },
                      "from_address": {
                        "type": "string",
                        "example": null
                      },
                      "to_address": {
                        "type": "string",
                        "example": null
                      },
                      "price": {
                        "type": "string",
                        "example": "20000000000000000"
                      }
                    }
                  }
                },
                "er20_transfers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "symbol": {
                        "type": "string",
                        "example": "ETH"
                      },
                      "name": {
                        "type": "string",
                        "example": "Wrapped ETH"
                      },
                      "decimals": {
                        "type": "integer",
                        "format": "int32",
                        "example": 18
                      },
                      "contract_address": {
                        "type": "string",
                        "example": null
                      },
                      "from_address": {
                        "type": "string",
                        "example": null
                      },
                      "to_address": {
                        "type": "string",
                        "example": null
                      },
                      "price": {
                        "type": "string",
                        "example": "1000000000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Owner": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "erc721"
          },
          "contract_address": {
            "type": "string",
            "example": "0x2f329de74f67e2c1c5d2a6487ae50c99873d8589"
          },
          "id": {
            "type": "string",
            "example": 5336
          },
          "owner_address": {
            "type": "string",
            "example": "0x20904982fa86601c46e7e489dbcea1ffe6f46287"
          },
          "times_acquired": {
            "type": "integer",
            "format": "int256",
            "example": 5
          },
          "minted_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-03-25T19:22:03.000Z"
          },
          "first_owned_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-04-25T19:22:03.000Z"
          },
          "last_owned_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-05-22T14:21:13.000Z"
          },
          "quantity": {
            "type": "string",
            "example": "1"
          },
          "owner_type": {
            "type": "string",
            "example": "wallet or contract"
          }
        }
      },
      "ActiveOwner": {
        "type": "object",
        "properties": {
          "owner_address": {
            "type": "string",
            "example": "0x36c72892fcc72b52fa3b82ed3bb2a467d9079b9a"
          },
          "total_transfers": {
            "type": "integer",
            "format": "int256",
            "example": 172
          },
          "erc721_transfers": {
            "type": "integer",
            "format": "int256",
            "example": 138
          },
          "erc1155_transfers": {
            "type": "integer",
            "format": "int256",
            "example": 34
          },
          "mint_transfers": {
            "type": "integer",
            "format": "int256",
            "example": 0
          },
          "burn_transfers": {
            "type": "integer",
            "format": "int256",
            "example": 0
          },
          "transfer_transfers": {
            "type": "integer",
            "format": "int256",
            "example": 172
          }
        }
      }
    },
    "parameters": {
      "cursorParam": {
        "in": "query",
        "name": "cursor",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Pass the cursor value from previous response to fetch next set of results."
      },
      "pageParam": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "example": 1,
          "default": 1
        },
        "description": "Starting page of results. First page is 1."
      },
      "pageSizeParam": {
        "in": "query",
        "name": "page_size",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100,
          "example": 25,
          "default": 25
        },
        "description": "Number of results per page."
      },
      "blockStartParam": {
        "in": "query",
        "name": "block_start",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1
        },
        "description": "Starting block number for which to return results."
      },
      "blockEndParam": {
        "in": "query",
        "name": "block_end",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32"
        },
        "description": "Ending block number for which to return results."
      },
      "transactionHashParam": {
        "in": "query",
        "name": "hash",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "The transaction hash for which to return results."
      },
      "timestampEndParam": {
        "in": "query",
        "name": "timestamp_end",
        "required": false,
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2023-01-10T00:00:00Z",
        "description": "Ending timestamp for which to return results."
      },
      "timeframeParam": {
        "in": "query",
        "name": "timeframe",
        "schema": {
          "type": "string",
          "enum": [
            "1_DAY",
            "7_DAYS",
            "30_DAYS"
          ],
          "default": "30_DAYS"
        }
      },
      "timeframe1DayParam": {
        "in": "query",
        "name": "timeframe",
        "schema": {
          "type": "string",
          "enum": [
            "1_DAY",
            "7_DAYS",
            "30_DAYS"
          ],
          "default": "1_DAY"
        }
      },
      "activeWalletTimeframeParam": {
        "in": "query",
        "name": "active_wallet_timeframe",
        "schema": {
          "type": "string",
          "enum": [
            "1_DAY",
            "7_DAYS"
          ],
          "default": "1_DAY"
        },
        "required": true,
        "description": "The timeframe for the price history data. Valid values are 1_DAY, and 7_DAYS"
      },
      "historyParam": {
        "in": "query",
        "name": "history",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "all"
          ]
        },
        "description": "Retrieve all historical records."
      },
      "chainParam": {
        "in": "query",
        "name": "chain",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "eth-main",
            "arbitrum-main",
            "optimism-main",
            "poly-main",
            "bsc-main",
            "eth-goerli",
            "eth-sepolia"
          ],
          "example": "eth-main",
          "default": "eth-main"
        },
        "description": "Blockchain from which to return results."
      },
      "orderParam": {
        "in": "query",
        "name": "order",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "example": "asc"
        },
        "description": "Sort results in ascending or descending order"
      },
      "exchangeParam": {
        "in": "query",
        "name": "exchange",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "opensea",
            "looksrare"
          ],
          "default": "opensea"
        },
        "description": "The marketplace exchange for which to return results."
      },
      "exchangeRankingParam": {
        "in": "query",
        "name": "ranking",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "total_volume",
            "one_day_volume",
            "seven_day_volume",
            "thirty_day_volume",
            "total_sales",
            "one_day_sales",
            "seven_day_sales",
            "thirty_day_sales",
            "total_average_price",
            "one_day_average_price",
            "seven_day_average_price",
            "thirty_day_average_price"
          ],
          "default": "total_volume"
        },
        "description": "The ranking metric for which to return results."
      },
      "tokenTypeParam": {
        "in": "query",
        "name": "token_type",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "erc721",
            "erc1155"
          ]
        },
        "description": "The token type for which to return results."
      },
      "transferTypeParam": {
        "in": "query",
        "name": "transfer_type",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "mint",
            "burn",
            "transfer"
          ]
        },
        "description": "The transfer type for which to return results."
      },
      "ownerTypeParam": {
        "in": "query",
        "name": "owner_type",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "wallet",
            "contract"
          ],
          "example": "wallet",
          "default": "contract"
        },
        "description": "The owner type for which to return results."
      },
      "traitFilterParam": {
        "in": "query",
        "name": "trait_filter",
        "required": false,
        "schema": {
          "type": "string",
          "example": "[{\"trait_type\":\"body\",\"value\":\"Important Dead Cat\"},{\"trait_type\":\"headwear\",\"value\":\"Red Mohawk\"}]"
        },
        "description": "The trait type and values in JSON format to filter tokens by."
      },
      "excludeDexParam": {
        "in": "query",
        "name": "exclude_dex",
        "required": false,
        "schema": {
          "type": "string",
          "example": "false",
          "default": "false"
        },
        "description": "Excludes DEX contracts from output when true. Default is false."
      },
      "contractAddressParam": {
        "in": "path",
        "name": "contract_address",
        "required": true,
        "schema": {
          "type": "string",
          "example": "0x192762e76ac5df44e3807c92ec8911cc13111eae",
          "default": "0x192762e76ac5df44e3807c92ec8911cc13111eae"
        },
        "description": "The address of the contract."
      },
      "contractAddressQueryParam": {
        "in": "query",
        "name": "contract_address",
        "required": false,
        "schema": {
          "type": "string",
          "example": "0x192762e76ac5df44e3807c92ec8911cc13111eae"
        },
        "description": "The address of the contract."
      },
      "contractAddressesParam": {
        "in": "query",
        "name": "contract_addresses",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "A comma separated list of up to 25 contract addresses."
      },
      "rarityRankStartParam": {
        "in": "query",
        "name": "rarity_rank_start",
        "required": false,
        "schema": {
          "type": "integer",
          "example": 4
        },
        "description": "The minimum rarity rank for tokens"
      },
      "rarityRankEndParam": {
        "in": "query",
        "name": "rarity_rank_end",
        "required": false,
        "schema": {
          "type": "integer",
          "example": 150
        },
        "description": "The maximum rarity rank for tokens"
      },
      "priceStartParam": {
        "in": "query",
        "name": "price_start",
        "required": false,
        "schema": {
          "type": "integer",
          "example": 4
        },
        "description": "The minimum price in USD for tokens"
      },
      "priceEndParam": {
        "in": "query",
        "name": "price_end",
        "required": false,
        "schema": {
          "type": "integer",
          "example": 150
        },
        "description": "The maximum price in USD for tokens"
      },
      "includeNftDetailsParam": {
        "in": "query",
        "name": "include_nft_details",
        "required": false,
        "schema": {
          "type": "string",
          "default": "false"
        },
        "description": "Set to true to include nft metadata and cached media, default is false."
      },
      "includeCurrentOwnersParam": {
        "in": "query",
        "name": "include_current_owners",
        "required": false,
        "schema": {
          "type": "string",
          "default": "true"
        },
        "description": "Set to false to exclude returning current owners, default is true."
      },
      "includeRecentPriceParam": {
        "in": "query",
        "name": "include_recent_price",
        "required": false,
        "schema": {
          "type": "string",
          "default": "true"
        },
        "description": "Set to false to exclude returning recent price, default is true."
      },
      "includeOwnerDistributionParam": {
        "in": "query",
        "name": "include_owner_distribution",
        "required": false,
        "schema": {
          "type": "string",
          "default": "true"
        },
        "description": "Set to false to exclude token ownership distribution, default is true."
      },
      "exchangeKeyParam": {
        "in": "path",
        "name": "key",
        "required": true,
        "schema": {
          "type": "string",
          "example": "boredapeyachtclub",
          "default": "boredapeyachtclub"
        },
        "description": "The marketplace exchange key."
      },
      "tokenIdParam": {
        "in": "path",
        "name": "token_id",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int256",
          "example": 10,
          "default": 10
        },
        "description": "The token id as specified in the contract."
      },
      "tokenIdsParam": {
        "in": "query",
        "name": "token_ids",
        "required": false,
        "schema": {
          "type": "string",
          "example": "10,1004,1006"
        },
        "description": "A comma separated list of up to 25 token ids as specified in the contract."
      },
      "fromAddressParam": {
        "in": "query",
        "name": "from_address",
        "required": false,
        "schema": {
          "type": "string",
          "example": "0x0000000000000000000000000000000000000000"
        },
        "description": "Filters NFTs transfered from this wallet address"
      },
      "toAddressParam": {
        "in": "query",
        "name": "to_address",
        "required": false,
        "schema": {
          "type": "string",
          "example": "0xf68c793cff2071698dcc52027bd175a12236fb7d"
        },
        "description": "Filters NFTs transfered to this wallet address"
      },
      "ownerAddressParam": {
        "in": "path",
        "name": "owner_address",
        "required": true,
        "schema": {
          "type": "string",
          "example": "0xf68c793cff2071698dcc52027bd175a12236fb7d",
          "default": "0xf68c793cff2071698dcc52027bd175a12236fb7d"
        },
        "description": "The wallet address of the NFT owner."
      },
      "ExchangeSearchQParam": {
        "in": "query",
        "name": "q",
        "required": true,
        "schema": {
          "type": "string",
          "example": "Ape",
          "default": "Ape"
        },
        "description": "The search string for which to return results."
      },
      "ExchangeSearchFilterParam": {
        "in": "query",
        "name": "filter",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "key",
            "name",
            "description"
          ],
          "example": "name",
          "default": "name"
        },
        "description": "The search fields to match on."
      },
      "NftSearchQParam": {
        "in": "query",
        "name": "q",
        "required": true,
        "schema": {
          "type": "string",
          "example": "Ape",
          "default": "Ape"
        },
        "description": "The search string for which to return results."
      },
      "NftSearchFilterParam": {
        "in": "query",
        "name": "filter",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "token_name",
            "token_description",
            "token_attributes",
            "all"
          ],
          "example": "token_name",
          "default": "token_name"
        },
        "description": "The search fields to match on."
      },
      "nftsOfOwnerFilterParam": {
        "in": "query",
        "name": "filter",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "all",
            "nospam"
          ],
          "example": "all",
          "default": "all"
        },
        "description": "Filter out spam NFTs by passing nospam."
      }
    }
  },
  "paths": {
    "/collections": {
      "get": {
        "summary": "Get All Collections",
        "description": "Returns recently created or all historical collections. Filter by token type.",
        "operationId": "getAllCollections",
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "eth-main",
                "arbitrum-main",
                "optimism-main",
                "poly-main",
                "bsc-main",
                "eth-goerli",
                "eth-sepolia"
              ],
              "example": "eth-main",
              "default": "eth-main"
            },
            "description": "Blockchain from which to return results."
          },
          {
            "in": "query",
            "name": "token_type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "erc721",
                "erc1155"
              ]
            },
            "description": "The token type for which to return results."
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pass the cursor value from previous response to fetch next set of results."
          },
          {
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "example": 25,
              "default": 25
            },
            "description": "Number of results per page."
          },
          {
            "in": "query",
            "name": "history",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            },
            "description": "Retrieve all historical records."
          }
        ],
        "responses": {
          "200": {
            "description": "An array of collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chain": {
                      "type": "string",
                      "example": "eth-main"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "example": 200
                    },
                    "cursor": {
                      "type": "string",
                      "example": "KGpzb24pIjB4NDFmNTZiMDAwZmZmZTE3OTQzZmI0YzE4MmMxMjM3NjdhZjcxZDAwNSI"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "example": 25
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_type": {
                            "type": "string",
                            "example": "erc721"
                          },
                          "contract_address": {
                            "type": "string",
                            "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
                          },
                          "name": {
                            "type": "string",
                            "example": "Bored Ape Yacht Club"
                          },
                          "symbol": {
                            "type": "string",
                            "example": "BAYC"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2022-04-25T19:22:03.000Z"
                          },
                          "total_tokens": {
                            "type": "string",
                            "example": "10000"
                          },
                          "total_transfers": {
                            "type": "string",
                            "example": "3457"
                          },
                          "functions": {
                            "type": "string",
                            "example": "[mintTo(address), safeTransferFrom(address,address,uint256,bytes)..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/contract/{contract_address}": {
      "get": {
        "summary": "Get Single Collection",
        "description": "Returns collection info by contract address.",
        "operationId": "getCollection",
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract_address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0x192762e76ac5df44e3807c92ec8911cc13111eae",
              "default": "0x192762e76ac5df44e3807c92ec8911cc13111eae"
            },
            "description": "The address of the contract."
          },
          {
            "in": "query",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "eth-main",
                "arbitrum-main",
                "optimism-main",
                "poly-main",
                "bsc-main",
                "eth-goerli",
                "eth-sepolia"
              ],
              "example": "eth-main",
              "default": "eth-main"
            },
            "description": "Blockchain from which to return results."
          }
        ],
        "responses": {
          "200": {
            "description": "A Collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "example": "erc721"
                    },
                    "contract_address": {
                      "type": "string",
                      "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
                    },
                    "name": {
                      "type": "string",
                      "example": "Bored Ape Yacht Club"
                    },
                    "symbol": {
                      "type": "string",
                      "example": "BAYC"
                    },
                    "is_potential_spam": {
                      "type": "boolean",
                      "example": false
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2022-04-25T19:22:03.000Z"
                    },
                    "total_tokens": {
                      "type": "string",
                      "example": "10000"
                    },
                    "total_transfers": {
                      "type": "string",
                      "example": "3457"
                    },
                    "exchange_data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "exchange": {
                            "type": "string",
                            "example": "opensea"
                          },
                          "update_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2022-10-05T20:31:26.621Z"
                          },
                          "key": {
                            "type": "string",
                            "example": "boredapeyachtclub"
                          },
                          "name": {
                            "type": "string",
                            "example": "Bored Ape Yacht Club"
                          },
                          "description": {
                            "type": "string",
                            "example": "The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique digital collectibles ..."
                          },
                          "exchange_url": {
                            "type": "string",
                            "example": "https://opensea.io/collection/boredapeyachtclub"
                          },
                          "external_url": {
                            "type": "string",
                            "example": "http://www.boredapeyachtclub.com/"
                          },
                          "banner_image_url": {
                            "type": "string",
                            "example": "https://i.seadn.io/gae/i5dYZRkVCUK97bfprQ3WXyrT9BnLSZtVKGJlKQ919uaUB0sxbngVCioaiyu9r6snqfi2aaTyIvv6DHm4m2R3y7hMajbsv14pSZK8mhs?w=500&auto=format"
                          },
                          "featured_image_url": {
                            "type": "string",
                            "example": "https://i.seadn.io/gae/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA?w=500&auto=format"
                          },
                          "large_image_url": {
                            "type": "string",
                            "example": "https://i.seadn.io/gae/RBX3jwgykdaQO3rjTcKNf5OVwdukKO46oOAV3zZeiaMb8VER6cKxPDTdGZQdfWcDou75A8KtVZWM_fEnHG4d4q6Um8MeZIlw79BpWPA?w=500&auto=format"
                          },
                          "image_url": {
                            "type": "string",
                            "example": "https://i.seadn.io/gae/Ju9CkWtV-1Okvf45wo8UctR-M9He2PjILP0oOvxE89AyiPPGtrR3gysu1Zgy0hjd2xKIgjJJtWIc0ybj4Vd7wv8t3pxDGHoJBzDB?w=500&auto=format"
                          },
                          "chat_url": {
                            "type": "string",
                            "example": null
                          },
                          "discord_url": {
                            "type": "string",
                            "example": "https://discord.gg/3P5K3dzgdB"
                          },
                          "telegram_url": {
                            "type": "string",
                            "example": null
                          },
                          "twitter_username": {
                            "type": "string",
                            "example": "BoredApeYC"
                          },
                          "wiki_url": {
                            "type": "string",
                            "example": null
                          },
                          "instagram_username": {
                            "type": "string",
                            "example": null
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "market_cap": {
                                "type": "number",
                                "example": 1362173.6646153848
                              },
                              "num_owners": {
                                "type": "number",
                                "example": 6427
                              },
                              "floor_price": {
                                "type": "number",
                                "example": 0
                              },
                              "floor_price_symbol": {
                                "type": "string",
                                "example": "ETH"
                              },
                              "total_minted": {
                                "type": "number",
                                "example": 9998
                              },
                              "total_supply": {
                                "type": "number",
                                "example": 9998
                              },
                              "total_volume": {
                                "type": "number",
                                "example": 670210.9884434949
                              },
                              "one_day_volume": {
                                "type": "number",
                                "example": 173.2
                              },
                              "seven_day_volume": {
                                "type": "number",
                                "example": 1771.18
                              },
                              "thirty_day_volume": {
                                "type": "number",
                                "example": 10528.511809999996
                              },
                              "one_day_volume_change": {
                                "type": "number",
                                "example": -196.76640100000003
                              },
                              "seven_day_volume_change": {
                                "type": "number",
                                "example": 368.9941680000006
                              },
                              "thirty_day_volume_change": {
                                "type": "number",
                                "example": 211.18794129058824
                              },
                              "total_sales": {
                                "type": "number",
                                "example": 27150
                              },
                              "one_day_sales": {
                                "type": "number",
                                "example": 2
                              },
                              "seven_day_sales": {
                                "type": "number",
                                "example": 13
                              },
                              "thirty_day_sales": {
[...]
